services:
  db:
    restart: always
    environment:
      POSTGRES_USER: todoapp
      POSTGRES_PASSWORD: example      
      POSTGRES_DB: todos
    build:
      context: ./pgInit
      dockerfile: pg.Dockerfile
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data 
 
  adminer:
    image: adminer
    restart: always
    ports:
      - 8088:8080
 